<h1>Enter new user</h1>

<form action="/enteruser" method="POST">

    <div>Enter first name</div>
    <input type="text" name="firstname" id="firstname">

    <div>Enter last name</div>
    <input type="text" name="lastname" id="lastname">

    <input type="submit" value="Submit">
</form>